{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "printWidth": 140,
  "semi": false,
  "singleAttributePerLine": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "none",
  "useTabs": false
}
